body {
    max-width: 100%;
    overflow-x: hidden;
    /*overflow-y: hidden;*/

    padding: 20px 100px;
    background-color: #E28190;
    width: 100vw;

    /*background-image: url("../images/screen.png");
    background-size: contain;*/
}


.left {
    float: left;
}
.w50 {
    width: 50vw;
}

.container {
  width: auto;
  padding: 0;
  margin: 0;
}

#left-info {
  /*background-image: url("images/bg-image-tinted.jpg");*/
  position: fixed;
  background-color: #E28190;
  height: 100vh;
  width: 50vw;
  padding: 0;
  margin: 0;
}

.title-row {
  padding-top: 30vh;
}

.florida-ball {
  position: absolute;
  top: 45%;
  /*transform: 			translateY(-5%);*/
  margin: auto;
  /*right: 60px;*/
  width:140px;
  object-fit: contain;
}

section#title-head h1 {
  /*padding-top: 100px;*/
  font-family: 'Montserrat';
  font-size: 40px;
  color: white;
  text-align: left;
  margin: 0px;
  padding-left: 35px;
  margin-top: 20px;
}

section#title-head h5 {
  font-family: 'Muli';
  font-weight: lighter;
  font-size: 20px;
  color: white;
  text-align: left;
  margin-top: -12px;
  padding-left: 36px;

}

#content {
  padding: 90px 35px;
  padding-right: 10px;
}

.text-box {
  padding-top: 25px;
  color: white;
}

section#content h4 {
  font-family: 'Montserrat';
  color: white;
  font-size: 20px;
}

.border-line{
  height: 4px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 420px;
  margin-left: -14px;
  margin-bottom: 14px;
}

section#content p {
  font-weight: lighter;
  font-family: 'Muli';
  font-size: 15px;
  margin-right: 24px;
  color: white;
}

/*BOXES LINKING TO SOCIAL MEDIA*/

section#content #link-box {
  border: 4px;
  border-style: solid;
  height: auto;
  margin-right: 20px;
  padding: 0;
  width: 45%;
  border-radius: 4px;
  margin-top: 10px;
}

section#content h4{
  font-size: 22px;
  margin: 8px 5px;
  text-align: center;
}

section#content .fa{
  padding-right: 5px;
  font-size: 22px;
}


section#content #link-box:hover {
  background-color: white;
}

section#content #link-box:hover h4{
  color: #E28190;
}

section#content .sponsors {
  padding-top:100px;
  margin-left: -10px;
}

h4 {
  font-family: 'Montserrat';
  color: white;
  font-size: 20px;
}

h5 {
  font-family: 'Helvetica';
  font-weight: lighter;
  font-size: 22px;
  color: white;
  text-align: center;
  padding-top: 16px;
}

h6 {
  font-style: italic;
  font-size: 32px;
  color: white;
  font-family: 'Montserrat';
}

.border-line-left {
  right: -4%;
}


.border-line-right {
  left: -4%;
}

section#left-col .fa-facebook {
  margin-left: 60px;
}

section#left-col .fa-slack, section#left-col .fa-facebook {
  color: white;
  font-size: 80px;
  padding-top: 40px;
}

.fa-slack:hover, .fa-facebook:hover {
  opacity: 0.6;
  border: 10px white;
}

.border-line-left, .border-line-right{
  position: absolute;
  height: 4px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 190px;

  top: 19px;
  /*transform: translateY(50%);*/
  vertical-align: middle;
}



.heart {

  position: relative;
  bottom: 10px;
  /*left: 43%;*/
	color: white;
	font-size: 12px;
	display: block;
	text-align: center;
	vertical-align: bottom;
}
.heart i {
  color: blue;
  text-decoration: none;
  text-align: center;
}
.heart .fa {
  color: white;
  margin: 0 3px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
  text-align: center;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.2);
  }
}
@keyframes pound {
  to {
    transform: scale(1.2);
  }
}


@media screen and (max-width: 992px) {
	section#title .florida-ball, section#title h1 {
		text-align: right;
    margin-left: 0;
    margin-right: 0;
	}
  section#title .florida-ball {
    content: url("../images/FLBall-no-shadow.png");
    position: absolute;
    top: -150px;
    left: -190px;
    width: 400px;
  }
  .border-line-right {
    opacity: 0;
    width: 0px;
  }
  .border-line-left{
    width: 100%;
    top: -10px;
    left: 0px;
  }
  .fa-facebook {
    position: absolute;
    top: -115px;
  }
	/*section#splash #mlh-trust-badge {
		right: 25px !important;
	}*/
}


@media screen and (max-width: 320px) {
  section#title .florida-ball {
    content: url("../images/FLBall-no-shadow.png");
    position: absolute;
    top: -150px;
    left: -230px;
    width: 400px;
  }
}

/*HACKATHON CARDS SECTION*/

#hackathons {
  /*background-color: #EDEDED;*/
  /*background-color: gray;*/
  /*width:50%;*/
  /*background-image: url("images/bg-image-tinted.jpg");*/
  /*height: 100vh;*/
  /*width: 50vw;*/
  padding: 0;
  width: 35vw;
  /*margin-left: 50vw;*/
  /*padding-left: 0vw;*/
  /*width: 50vw;*/
}

#hackathon-card {
  margin: 2%;
  background-color: #E28190;
  position: relative;
  left: 0px;
  height: 100px;
  width: 96%;
  padding: 0;
  margin-bottom: 0;
  margin-right: 2%;
  /*opacity: 0.5;*/
}

/*----DATE CONTENT----*/

#date {
  background-color: white;
  height: 100px;
  color: #E28190;
  width: 120px;
}

section#hackathons h4 {
  font-size: 18px;
  padding-top: 6px;
  text-align: center;
  color: #E28190;
}

section#hackathons h2 {
  font-size: 60px;
  font-family: 'Montserrat';
  text-align: center;
  margin-top: -15px;

}

#hackathon-logo {
  position: absolute;
  right: 70px;
}

.hackathon-thumb {
  height: 180px;
  width: 260px;
  position: absolute;
  top: -20px;
  /*left: -17px;*/
  object-fit: contain;
  /*background-color: black;*/
clip: rect(20px,130px,120px,0px);
-webkit-filter: brightness(0) invert(1);
  /*position: relative;*/

}

#social-media {
  /*width: 30px;*/
  /*position: absolute;*/
  padding: 0;
  padding-top: 5px;
  margin: 0;
  margin-left: -40px;
  /*clip: rect(0px, 00px, 40px, 0px);*/
  transition-property: margin-left;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.social-app {
  background-color: white;
  left: 0px;
  height: 20px;
  width: 35px;
  padding-left: 0px;
  margin-left: 0px;
  position: absolute;
  clip: rect(0px, 40px, 40px, 40px);
  transition-property: clip;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  border-radius: 2px;

}

section#events {
  padding: 0px 0px;
  margin-left: 20px;
  margin-top: -100px;
}

section#events .border-line{
  margin-left: 0px;
}

section#hackathons {
}

section#hackathons .row {
  /*position: relative;*/
}

#hackathon-card:hover #social-media{
  margin-left: 5px;
}

#hackathon-card:hover .social-app {
  clip: rect(0px, 40px, 40px, 0px);
}

section#hackathons .fa {
  color: #E28190;
    /*font-size: 80px;*/
  /*padding-top: 40px;*/
  font-size: 22px;
  margin-left: 6px;
  margin-top: 7px;
  text-align: center;
}


section#hackathons h1 {
  margin-left: 0;
  color: white;
  font-size: 28px;
  margin-top: 14px;
  /*margin-left: 0px;*/
}

section#hackathons h3 {
  font-size: 15px;
  margin-top: -5px;
  margin-left: 10px;
  font-family: "Helvetica";
  color: white;
}
