html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #EDEDED;

}


.left {
    float: left;
}
.w50 {
    width: 50vw;
}

.container {
  padding: 0;
  margin: 0;
}

#left-info {
  /*background-image: url("images/bg-image-tinted.jpg");*/
  position: fixed;
  background-color: #E28190;
  height: 100vh;
  width: 50vw;
  padding: 0;
  margin: 0;
}

.title-row {
  padding-top: 15%;
}

h1 {
  /*padding-top: 100px;*/
  font-family: 'Montserrat';
  font-size: 54px;
  color: white;
  margin-left: -70px;
  /*transform: 			translateY(50%);*/

  /*text-align: center;*/
}

h4 {
  font-family: 'Montserrat';
  color: white;
  font-size: 20px;
}

h5 {
  font-family: 'Helvetica';
  font-weight: lighter;
  font-size: 22px;
  color: white;
  text-align: center;
  padding-top: 16px;
}

h6 {
  font-style: italic;
  font-size: 32px;
  color: white;
  font-family: 'Montserrat';
}

.border-line-left {
  right: -9%;
}


.border-line-right {
  left: -9%;
}

section#left-col .fa-facebook {
  margin-left: 60px;
}

.fa-slack {
  margin-right: 60px;
}

section#left-col .fa-slack, section#left-col .fa-facebook {
  color: white;
  font-size: 80px;
  padding-top: 40px;
}

.fa-slack:hover, .fa-facebook:hover {
  opacity: 0.6;
  border: 10px white;
}

.border-line-left, .border-line-right{
  position: absolute;
  height: 4px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 200px;

  top: 19px;
  /*transform: translateY(50%);*/
  vertical-align: middle;
}

.florida-ball {

  position: absolute;
  top: 45%;
/*transform: 			translateY(-5%);*/
margin: auto;
right: 60px;

  width:120px;
  object-fit: contain;
}

.heart {

  position: fixed;
  bottom: 10px;
  /*left: 43%;*/
	color: white;
	font-size: 12px;
	display: block;
	text-align: center;
	vertical-align: bottom;
}
.heart i {
  color: blue;
  text-decoration: none;
  text-align: center;
}
.heart .fa {
  color: white;
  margin: 0 3px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
  text-align: center;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.2);
  }
}
@keyframes pound {
  to {
    transform: scale(1.2);
  }
}


@media screen and (max-width: 992px) {
	section#title .florida-ball, section#title h1 {
		text-align: right;
    margin-left: 0;
    margin-right: 0;
	}
  section#title .florida-ball {
    content: url("../images/FLBall-no-shadow.png");
    position: absolute;
    top: -150px;
    left: -190px;
    width: 400px;
  }
  .border-line-right {
    opacity: 0;
    width: 0px;
  }
  .border-line-left{
    width: 100%;
    top: -10px;
    left: 0px;
  }
  .fa-facebook {
    position: absolute;
    top: -115px;
  }
	/*section#splash #mlh-trust-badge {
		right: 25px !important;
	}*/
}


@media screen and (max-width: 320px) {
  section#title .florida-ball {
    content: url("../images/FLBall-no-shadow.png");
    position: absolute;
    top: -150px;
    left: -230px;
    width: 400px;
  }
}

#hackathons {
  background-color: #EDEDED;
  /*background-color: gray;*/
  /*width:50%;*/
  /*background-image: url("images/bg-image-tinted.jpg");*/
  height: 100vh;
  width: 50vw;
  padding: 0;
  margin-left: 50vw;
  padding-left: 0vw;
  /*width: 50vw;*/
}

#hackathon-card {
  margin: 2%;
  background-color: #E28190;
  position: relative;
  left: 0px;
  height: 125px;
  width: 96%;
  padding: 0;
  margin-bottom: 0;
  margin-right: 2%;
}

#date {
  background-color: white;
  height: 125px;
  color: #E28190;
  /*width: 110px;*/
}

#hackathon-logo {
  position: absolute;
  right: 82px;
}

.hackathon-thumb {
  height: 220px;
  width: 340px;
  position: absolute;
  top: -20px;
  /*left: -17px;*/
  object-fit: contain;
  /*background-color: black;*/
clip: rect(0px,170px,145px,0px);
-webkit-filter: brightness(0) invert(1);
  /*position: relative;*/

}

#social-media {
  /*width: 30px;*/
  /*position: absolute;*/
  padding: 0;
  padding-top: 5px;
  margin: 0;
  margin-left: -40px;
  /*clip: rect(0px, 00px, 40px, 0px);*/
  transition-property: margin-left;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.social-app {
  background-color: white;
  left: 0px;
  height: 35px;
  width: 35px;
  padding-left: 0px;
  margin-left: 0px;
  position: absolute;
  clip: rect(0px, 40px, 40px, 40px);
  transition-property: clip;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  border-radius: 2px;

}

section#hackathons .row {
  /*position: relative;*/
}

#hackathon-card:hover #social-media{
  margin-left: 5px;
}

#hackathon-card:hover .social-app {
  clip: rect(0px, 40px, 40px, 0px);
}

section#hackathons .fa {
  color: #E28190;
    /*font-size: 80px;*/
  /*padding-top: 40px;*/
  font-size: 22px;
  margin-left: 6px;
  margin-top: 7px;
  text-align: center;
}


section#hackathons h1 {
  margin-left: 0;
  color: black;
  font-size: 35px;
  margin-top: 16px;
  margin-left: -10px;
}

section#hackathons h3 {
  font-size: 20px;
  margin-top: -5px;
  margin-left: 0px;
  font-family: "Helvetica";
}

section#hackathons h4 {
  font-size: 23px;
  padding-top: 6px;
  text-align: center;
  color: #E28190;

}

section#hackathons h2 {
  font-size: 75px;
  font-family: 'Montserrat';
  text-align: center;
  margin-top: -15px;

}
