html, body {
  overflow-x: hidden;

}

body {
     max-width: 100%;
    /*overflow-y: hidden;*/

    padding: 20px 100px;
    background-color: #E28190;
    width: 100vw;

    /*background-image: url("../images/screen.png");
    background-size: contain;*/
}


.left {
    float: left;
}
.w50 {
    width: 50vw;
}

.container {
  width: auto;
  padding: 0;
  margin: 0;
}

#left-info {
  /*background-image: url("images/bg-image-tinted.jpg");*/
  position: fixed;
  background-color: #E28190;
  height: 100vh;
  width: 50vw;
  padding: 0;
  margin: 0;
}

.title-row {
  padding-top: 30vh;
}

.florida-ball {
  position: absolute;
  top: 45%;
  /*transform: 			translateY(-5%);*/
  margin: auto;
  /*right: 60px;*/
  width:140px;
  object-fit: contain;
}

section#title-head h1 {
  /*padding-top: 100px;*/
  font-family: 'Montserrat';
  font-size: 40px;
  color: white;
  text-align: left;
  margin: 0px;
  padding-left: 35px;
  margin-top: 20px;
}

section#title-head h5 {
  font-family: 'Muli';
  font-weight: lighter;
  font-size: 20px;
  color: white;
  text-align: left;
  margin-top: -12px;
  padding-left: 36px;

}

#content {
  padding: 90px 35px;
  padding-right: 10px;
}

.text-box {
  padding-top: 25px;
  color: white;
}

section#content h4 {
  font-family: 'Montserrat';
  color: white;
  font-size: 20px;
}

.border-line{
  height: 4px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 100%;
  margin-left: -14px;
  margin-bottom: 14px;
}

section#content p {
  font-weight: lighter;
  font-family: 'Muli';
  font-size: 18px;
  margin-right: 24px;
  color: white;
}

/*BOXES LINKING TO SOCIAL MEDIA*/

section#content #link-box {
  border: 4px;
  border-style: solid;
  height: auto;
  margin-right: 20px;
  padding: 0;
  width: auto;
  border-radius: 4px;
  margin-top: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

section#content h4{
  font-size: 22px;
  margin: 8px 10px;
  text-align: center;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

section#content .fa{
  padding-right: 5px;
  font-size: 22px;
}


section#content #link-box:hover {
  background-color: white;
}

section#content #link-box:hover h4{
  color: #E28190;
}

section#content .sponsors {
  padding-top:100px;
  margin-left: -10px;
}

h4 {
  font-family: 'Montserrat';
  color: white;
  font-size: 20px;
}

h5 {
  font-family: 'Helvetica';
  font-weight: lighter;
  font-size: 22px;
  color: white;
  text-align: center;
  padding-top: 16px;
}

h6 {
  font-style: italic;
  font-size: 32px;
  color: white;
  font-family: 'Montserrat';
}

.border-line-left {
  right: -4%;
}


.border-line-right {
  left: -4%;
}

/*section#left-col .fa-facebook {
  margin-left: 60px;
}*/

section#left-col .fa-slack, section#left-col .fa-facebook {
  color: white;
  font-size: 80px;
  padding-top: 40px;
}

.fa-slack:hover, .fa-facebook:hover {
  /*opacity: 0.6;*/
  border: 10px white;
}

.border-line-left, .border-line-right{
  position: absolute;
  height: 4px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 300px;

  top: 19px;
  /*transform: translateY(50%);*/
  vertical-align: middle;
}



@-webkit-keyframes pound {
  to {
    transform: scale(1.2);
  }
}
@keyframes pound {
  to {
    transform: scale(1.2);
  }
}




@media screen and (max-width: 320px) {
  section#title .florida-ball {
    content: url("../images/FLBall-no-shadow.png");
    position: absolute;
    top: -150px;
    left: -230px;
    width: 400px;
  }
}

/*HACKATHON CARDS SECTION*/

#hackathons {

  /*background-color: #EDEDED;*/
  /*background-color: gray;*/
  /*width:50%;*/
  /*background-image: url("images/bg-image-tinted.jpg");*/
  /*height: 100vh;*/
  /*width: 50vw;*/
  padding: 0;
  width: 35vw;
  /*margin-left: 50vw;*/
  /*padding-left: 0vw;*/
  /*width: 50vw;*/
}

#hackathon-card {
  /*background:url("../images/swamphacks.png") top right repeat; background-attachment:fixed;*/

  margin: 2%;
  background-color: #E28190;
  position: relative;
  left: 0px;
  height: 100px;
  width: 96%;
  padding: 0;
  margin-bottom: 0;
  margin-right: 2%;
  /*opacity: 0.5;*/
}

/*----DATE CONTENT----*/

#date {
  background-color: white;
  height: 100px;
  color: #E28190;
  width: 120px;
  margin: 0;
}

section#hackathons h4 {
  font-size: 18px;
  padding-top: 6px;
  text-align: center;
  color: #E28190;
}

section#hackathons h2 {
  font-size: 60px;
  font-family: 'Montserrat';
  text-align: center;
  margin-top: -15px;

}

#hackathon-logo {
  position: absolute;
  /*width: 100%;*/
  text-align: right;

}

.hackathon-thumb {
  height: 180px;
  width: 260px;
  position: absolute;
  top: -20px;
  margin-left: -130px;
  /*float: right;*/
  /*left: -17px;*/
  object-fit: contain;
  /*background-color: black;*/
  clip: rect(20px,130px,120px,0px);
  -webkit-filter: brightness(0) invert(1);
/*position: relative;*/
  /*position: relative;*/

}

#social-media {
  /*width: 30px;*/
  /*position: absolute;*/
  padding: 0;
  padding-top: 5px;
  margin: 0 0px;
  margin-left: -40px;

  /*clip: rect(0px, 00px, 40px, 0px);*/
  transition-property: margin-left;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.social-app {
  background-color: white;
  left: 0px;
  height: 26px;
  width: 30px;
  padding-left: 0px;
  margin-left: 0px;
  padding: 0;
  position: absolute;
  clip: rect(0px, 40px, 40px, 40px);
  transition-property: clip, background-color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  border-radius: 2px;
}

.social-app:hover {
  background-color: #E28190;
  /*border: 2px white;
  border-style: solid;*/
}




section#events {
  padding: 0px 0px;
  margin-left: 20px;
  margin-top: -100px;
}

section#events .border-line{
  margin-left: 0px;
}

section#hackathons {
}

section#hackathons .row {
  /*position: relative;*/
}

#hackathon-card:hover #social-media{
  margin-left: 5px;
}

#hackathon-card:hover .social-app {
  clip: rect(0px, 40px, 40px, 0px);
}

section#hackathons .fa {
  color: #E28190;
    /*font-size: 80px;*/
  /*padding-top: 40px;*/
  font-size: 18px;
  margin-left: 6px;
  margin-top: 5px;
  text-align: center;
  transition-property: color, margin-left, margin-top;
  transition-duration: 0.2s;
  transition-timing-function: ease;

}

section#hackathons .social-app:hover .fa{

  color: white;
  /*margin-left: 4px;
  margin-top: 3px;*/
}

section#hackathons .social-app:hover .fa-facebook{
  color: white;
  /*margin-left: 12px;
  margin-top: 3px;*/
}

section#hackathons h1 {
  margin-left: 0;
  color: white;
  font-size: 28px;
  margin-top: 14px;
  /*margin-left: 0px;*/
}

section#hackathons h3 {
  font-size: 15px;
  margin-top: -5px;
  margin-left: 10px;
  font-family: "Helvetica";
  color: white;
}



.heart {
  position: relativ;
  bottom: 10px;
  /*left: 43%;*/
	color: white;
	font-size: 12px;
	display: block;
  margin-top: -20px;
	text-align: left;
	vertical-align: bottom;
  margin-left: 30px;
}

.heart i {
  color: blue;
  text-decoration: none;
  text-align: right;
}

.heart .fa {
  color: white;
  margin: 0 3px;
  font-size: 12px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
  transition-property: font-size, margin-top;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.heart .fa:hover {
  font-size: 20px;
  margin-top: -20px;

}

@media screen and (max-width: 992px) {
  body {
      max-width: 100%;
      overflow-x: hidden;
      padding: 50px 5px;
      background-color: #E28190;

      /*background-image: url("../images/screen.png");
      background-size: contain;*/
  }

	section#title-head .florida-ball, section#title-head h1 {
		text-align: right;
    margin-left: 0;
    margin-right: 0;
    font-size: 55px;
	}

  section#title-head h5 {
    text-align: center;
    font-size: 0px;
    padding: 0;
    padding-top: 30px;
  }
  section#title-head .florida-ball {
    content: url("../images/FLBall-no-shadow.png");
    position: absolute;
    top: -130px;
    left: -190px;
    width: 400px;
  }

  .border-line-right {
    opacity: 0;
    width: 0px;
  }
  .border-line-left{
    width: 100%;
    top: -10px;
    left: 0px;
  }
  .fa-facebook {
    /*position: absolute;*/
    /*top: -115px;*/
  }

  #content {
    padding: 0 10px;;
  }

  section#content .text-box {
    padding: 10px;;
  }

  section#content .border-line {
    margin-left: 0;
  }

  section#content p {
    margin-right: 0;
  }

  section#content .sponsors {
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }

  section#content #link-box {
    margin-right: 0;
  }

  section#events {
    margin: 0 5px;
  }

  .text-box  h3{
    text-align: center;
  }

  #hackathons {
    width: auto;
  }
/*
  #hackathon-card{
    height: 200px;
  }*/

  section#hackathons .hackathon-thumb {
    opacity: 0.4;
  }

  section#hackathons #date {
    width: 100px;
  }

  section#hackathons h1 {
    font-size: 24px;
  }

  section#hackathons h3 {
    margin: 0;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .heart {
    top: 100vh;
    padding-top: 20px;
    text-align: center;
  }

	/*section#splash #mlh-trust-badge {
		right: 25px !important;
	}*/
}
